body{
  font-family: 'Trefoil sans'
}
.mainNS{
  width: 300px;
}
.headerNS{
  color: #57b372;
  font-size: 13pt;
  font-weight: bold;
}
.titleNS{
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
  z-index:1;
  text-align: right;
  margin-top: -70px;
  margin-right: 50px;
  margin-left: 50px;
  width: 630px;
  overflow: auto;
  white-space: nowrap;
}
.imageNS{
  z-index: 1;
  width: 700px;
  height: 200px;
  border: 2px solid #57b372;
  border-radius: 5px;
  margin-top: 12px;
}

.announceNS{
  margin-bottom: -10px;
  margin-left: 40px;
  height: 40px;
  width: 60px;
  background-image: url('./Announcements.png');
  background-repeat: no-repeat;
  background-size: 60px 40px;
  display: inline-block;
}

@mixin button-style {
  background-color: #8ccb9d;
  border: 1px solid #8ccb9d;
  height: 30px;
  width: 30px;
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

@mixin button-style-focus {
  background-color: #57b372;
  border: 1px solid #57b372;
}
button {
  @include button-style;
}

button:focus{
  @include button-style-focus;
}
.buttonsWrap{
  z-index: 2;
  display: block;
  position: absolute;
  bottom: -13px;
  right: 60px;
}