
body{
  font-family: 'Trefoil sans'
}
.mainNS{
  width: 300px;
}
a{
  text-decoration: none;
}
a :hover{
  color:#ddd;
  border-bottom: 1px solid transparent !important;
}
.headerNS{
  color: #57b372;
  font-size: 13pt;
  font-weight: bold;
}
.titleNS{
  position: relative;
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
  z-index:1;
  text-align: right;
  margin: 0 !important;
  margin-top: -75px !important;
  max-width: 745px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  border-radius: 4px;
}
.imageNS{
  z-index: 1;
  width: 780px;
  height: 220px;
  border: 1px solid #57b372;
  border-radius: 15px;
  margin-top: 12px;
  position: relative;
}

.announceNS{
  margin-bottom: -10px !important;
  margin-left: 30px !important;
  height: 40px;
  width: 60px;
  background-image: url('./Announcements.png');
  background-repeat: no-repeat;
  background-size: 60px 40px;
  display: inline-block;
}

.buttonStyle{
  background-color: #8ccb9d;
  border: 1px solid #8ccb9d;
  min-width: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.buttonStyle:active, .buttonStyle:focus, .buttonStyle:hover {
  background-color: #57b372 !important;
  border: 1px solid #57b372 !important;
}

.buttonsWrap{
  z-index: 2;
  display: block;
  position: absolute;
  margin-top: 204px;
  padding-left: 625px;
}

.linkNS a{
  text-decoration: none;
  color: #57b372 !important;
}